.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #004aad;
    color: white;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}